.layui-carousel{
    float: left;
    left: 15%;
}
li a{
    text-decoration: none;
    color:rgb(240, 30, 30);
}
.fenlei ul,a{ font-size: 15px;
        list-style: none; 
        text-decoration: none;
        
        width: 100px; 
        text-align: center; 
        border: 6px; 
        border-radius: 1px; 圆角
        margin-top: 1px;
    } 
     /* a{
          display: block; 无序
     } */
#son{
    display: none;
}
#father{
    float: left;
    margin-left: 1px;
}
#father:hover #son{
    display: block;
    clear: both;
}
#son li:hover>a{
    background-color: rgb(252, 2, 2);
}