@-webkit-keyframes lightspeed {
    100% {
      width: 100vh;
    }
  }
  @keyframes lightspeed {
    100% {
      width: 100vh;
    }
  }
  .center {
    height: 1px;
    width: 1px;
    position: absolute;
  }
  
  body {
    background-color: #111;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .star {
    border: 1px solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
    margin: 0;
    position: absolute;
    -webkit-transform-origin: left;
            transform-origin: left;
    width: 1px;
  }
  .star:nth-child(2n) {
    -webkit-animation-name: lightspeed;
            animation-name: lightspeed;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }